@model OurSports1.Models.Author

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Author</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AuthorName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AuthorName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BirthDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BirthDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Image)
        </dt>
        <dd>
            <img src="~/images/@Model.Image" alt="~/images/~/Sport.jpg" class="Article shadow shadow-sm border-bottom-0 rounded" id="imgdetails">        </dd>
    </dl>

    <table class="ArticleTable">


        <col width="200">
        <col width="400">

        @foreach (var item in Model.Articles)
            {
            <tr class="ArticleBox">

                <td>
                    <img src="~/images/@item.Image" width="200" height="200" class="Article BoxImg Index" />
                </td>
                <td class="ArticleBoxText">
                    <span class="Title">@Html.DisplayFor(modelItem => item.Title)</span> <br />
                    <span>@Html.DisplayFor(modelItem => item.Secondary_title)</span> <br />

                    <span><a class="btn btn-success" asp-controller="Authors" asp-action="Details" asp-route-id="@item.AuthorID">@Html.DisplayFor(modelItem => item.Author.AuthorName)</a></span>
                    <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.ID">Read More..</a>
                </td>



                <td>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <a class="btn btn-danger" asp-action="Edit" asp-route-id="@item.ID">Edit</a>
                            <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                    }

                    <span>@Html.DisplayFor(modelItem => item.TimeCreate)</span> <br />
                </td>
            </tr>
        }


    </table>

</div>
<div>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>
