@model OurSports1.Models.Article


@{
    ViewData["Title"] = "Details";
}

<h1>@Html.DisplayFor(model => model.Title)</h1>
<hr />

    <h3>@Html.DisplayFor(model => model.Secondary_title)</h3>
    <h5> <a asp-controller="Categories" asp-action="Details" asp-route-id="@Model.CategoryID"> @Html.DisplayFor(modelItem => modelItem.Category.Title)</a> </h5>
    <h6> <a asp-controller="Authors" asp-action="Details" asp-route-id="@Model.AuthorID"> @Html.DisplayFor(modelItem => modelItem.Author.AuthorName)</a>  - @Html.DisplayFor(model => model.TimeCreate) </h6>
    <div>
        <img  src="~/images/@Model.Image" alt="~/images/~/Sport.jpg" class="Article">
    <div />
        <div class="A" >
            <p class="A"> idan</p>
        </div>
    <hr />
   <p>
       @Html.DisplayFor(modelItem => modelItem.Content);
   </p>
       
      








    <table class="comments table">
        @foreach (var item in Model.Comments)
        {
            <tr>
                <td>
                    <span class="label-success">@Html.DisplayNameFor(modelitem => item.Title): @Html.DisplayFor(modelitem => item.Title)  </span>
                    <span class="label-danger">  @Html.DisplayNameFor(modelitem => item.WriterName): @Html.DisplayFor(modelitem => item.WriterName)  </span>
                    <span class="label-info">@Html.DisplayNameFor(modelitem => item.Content): @Html.DisplayFor(modelitem => item.Content)  </span>



                </td>
            </tr>
        }





    </table>







    <form asp-controller="Comments" asp-action="Create" method="get" target="_blank" onclick="f()">
        <p>
            <input id="idArt" type="hidden" name="num" value="@Model.ID">
            <input class="btn-primary" type="submit" value="הוסף תגובה" />
        </p>
    </form>
    <script>
        function f(){
            var x = @Model.ID;


                window.open('/Comments/Create?num='+x, '', 'scrollbars=no,menubar=no,height=600,width=800,resizable=yes,toolbar=no,status=no');
        }
    </script>

</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
