@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@model IEnumerable<OurSports1.Models.Article>

@{
    ViewData["Title"] = "Index";
}
@{
    Article first = Model.First();
}


<div class="mainContent">
    <section>

        <div id="carouselExampleSlidesOnly" class="carousel slide  shadow shadow-lg border border-success">
            <div class="carousel">
                <div class="carousel-item active">
                    <img src="~/images/@first.Image" alt="~/images/~/Sport.jpg" class="Article BoxIndex">
                    <div class="carousel-caption d-none d-md-block" role="option" Id="ArticleText">
                        <h1 class="TitleCarousel"> @first.Title</h1>
                        <p class="Secondary_titleCarousel">
                            @first.Secondary_title
                        </p>
                        <a asp-action="Details" class="btn btn-primary" asp-route-id="@first.ID">Read More..</a>
                          
                            @if (User.Identity.IsAuthenticated)
                        {
                            <a class="btn btn-danger font-weight-bold" asp-action="Edit" asp-route-id="@first.ID">Edit</a>
                            <a class="btn btn-danger  font-weight-bold" asp-action="Delete" asp-route-id="@first.ID">Delete</a>
                    }

                       
                    </div>

                </div>
            </div>
        </div>
        <dl class="dl-horizontal">
            <table class="ArticleTable">

                <tbody>

                    @foreach (var item in Model.Where(a => a.ID != Model.First().ID))
                {


                    <tr class="ArticleBox">

                        <td>
                            <img src="~/images/@item.Image" width="200" height="200" class="Article BoxImg Index" />
                        </td>
                        <td class="ArticleBoxText">
                            <span class="Title">@Html.DisplayFor(modelItem => item.Title)</span> <br />
                            <span>@Html.DisplayFor(modelItem => item.Secondary_title)</span> <br />
                            <span><a class="btn btn-success" asp-controller="Authors" asp-action="Details" asp-route-id="@item.AuthorID">@Html.DisplayFor(modelItem => item.Author.AuthorName)</a></span>
                            <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.ID">Read More..</a>

                        </td>



                        <td>
                            @if (User.Identity.IsAuthenticated)
                        {
                            <a class="btn btn-danger" asp-action="Edit" asp-route-id="@item.ID">Edit</a>
                            <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                    }

                            <span>@Html.DisplayFor(modelItem => item.TimeCreate)</span> <br />
                        </td>
                    </tr>


            }

                </tbody>
            </table>

        </dl>
    </section>

</div>
<div class="AsideContent">
    <aside class="sideContent">
        <section>
            <div class="card" style="width: 18rem;">
                <img class="ArchiveImage" src="~/images/archive.jpg">
                <div class="card-body">
                    <h5 class="card-title">Archive</h5>
                    <p class="card-text">If you want to<span class="font-weight-bold text-uppercase"> Search</span> and <span class="font-weight-bold text-uppercase">find out</span> more Articles, <br /> The Archive is the right place for you!</p>
                    <a class="btn btn-outline-info" asp-action="IndexAll">To The Archive..</a>
                </div>
            </div>
        </section>
        <a class="btn btn-outline-info" asp-action="SoccerEvents">To The Soccer Events..</a>
        <br />

        @if (User.Identity.IsAuthenticated)
        {<p class="fonti">
                    <a asp-action="Create">Create New</a>
            </p>}
        <canvas id="myCanvas" width="300" height="50" style="border:10px solid #00ff21;">
            Your browser does not support the HTML5 canvas tag.
        </canvas>
        <br />


        <script>
            var c = document.getElementById("myCanvas");
            var ctx = c.getContext("2d");
            ctx.font = "30px Arial";
            ctx.strokeText("Video:", 10, 30);
        </script>
        <video width="300" height="240" controls loop autoplay>
            <source src="~/images/loop.mp4" type="video/mp4">
        </video>

    </aside>
</div>
