@model OurSports1.Models.Category



<div class="mainContent">
    <h2>@Model.Title</h2>

    <div>

        <hr />
        <dl class="dl-horizontal">
            <table class="ArticleTable">

                <tbody>
                    <col width="300">
                    <col width="500">

                    @foreach (var item in Model.Articles)
                    {

                        <tr class="ArticleBox">
                            <td align="center">
                                <img src="~/images/@item.Image" class="Article BoxImg" />
                            </td>
                            <td class="ArticleBoxText">
                                <span class="Title">@Html.DisplayFor(modelItem => item.Title)</span> <br />
                                <span>@Html.DisplayFor(modelItem => item.Secondary_title)</span> <br />
                                <span><a class="btn btn-success" asp-controller="Authors" asp-action="Details" asp-route-id="@item.AuthorID">@Html.DisplayFor(modelItem => item.Author.AuthorName)</a></span>
                                <a class="btn btn-primary" asp-controller="Articles" asp-action="Details" asp-route-id="@item.ID">Read More..</a>
                            </td>
                        </tr>
                    }

                </tbody>
            </table>

        </dl>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>
    </div>