@model IEnumerable<OurSports1.Models.Category>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-controller="Categories" asp-action="Details" a asp-route-id="@item.ID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                    <script>
                    function fbs_click() {
                        u = location.href;
                        window.open('http://www.facebook.com/sharer.php?u=' + encodeURIComponent(u) + '&t=' + "/Articles/Details/@item.ID", 'sharer', 'toolbar=0,status=0,width=626,height=436');
                        return false;
                    }
                    </script>
                    <a href="http://www.facebook.com/share.php?u=<url>" onclick="return fbs_click()" target="_blank">Share on Facebook</a>
                </td>

            </tr>
        }
    </tbody>
</table>
